.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow-y: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: black;
  font-weight: bold;
  font-size:1.2rem;
  font-family:inherit;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: black;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid#fb9127;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bolder;
}

.actions button:hover,
.actions button:active {
  background-color: #fb9127;
  border-color: #fb9127;
  color: white;
}

.actions .button--alt {
  color: #fb9127;
}

.actions .button {
  background-color: #fb9127;
  color: white;
}