.form {
  text-align: right;
   margin-top: 3rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fb9127;
  border: 1px solid #fb9127;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color:#8b4504;
  border-color:#a65203;
}