.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
  color: #000;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
  color: #000;
  font-size:1.5rem;
  font-weight: bolder;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #1b1611;
  font-size: 1.25rem;
}

.sizes {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: white;
}

.sizes.active {
  background-color: #fb9127;
  color: white;
  border-color: #fb9127;
}

@media (min-width: 768px) {
  .meal {
    flex-wrap: nowrap;
    align-items: center;
  }

  .meal h3 {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .price {
    font-size: 1.25rem;
  }

  .sizes {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}