.form {
  text-align: right;
   margin-top: 3rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #fb9127;
  border: 1px solid #fb9127;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color:#8b4504;
  border-color:#a65203;
}

@media (max-width: 600px) {
  .form {
    text-align: center;
    margin-top: 1.5rem;
  }

  .form button {
    width: 100%;
    padding: 0.7rem;
    border-radius: 25px;
  }
}

@media (min-width: 768px) {
  .form {
    text-align: right;
    margin-top: 3rem;
  }
}