.shoes {
  max-width: 60rem;
  width: 100%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  align-items: center;
}

.shoes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes shoes-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .shoes {
    margin: 1rem auto;
    padding: 0 0.75rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .shoes {
    max-width: 48rem;
    margin: 2rem auto;
  }
}