.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    color: rgb(245, 237, 237);
    text-shadow: 0 2px 6px rgba(0,0,0,0.50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 4px 10px rgba(0, 0, 0.25, 0.25);
    z-index: 10;
    border-radius: 5px;
    gap: 2rem;
}
.main-header h1{
    font-size: 3rem;        
    font-weight: 700;         
    font-family:Georgia, 'Times New Roman', Times, serif;       
    text-align: center; 
}
@media (min-width: 768px) {
  .main-header {
    height: 5rem;
    padding: 0 3rem;
    gap: 2rem;
    
  }
}