.button {
  cursor: pointer;
  font: inherit;
  border:none;
  background-color: #fb9127;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.75);
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bolder;
  font-size: large;
  box-shadow: 0 2px 6px rgba(0,0,0,0.50) ;
}

.button:hover,
.button:active {
  background-color: #60030f;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

/* .bump {
  animation: bump 300ms ease-out;
} */

/* @keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
} */