.button {
  cursor: pointer;
  font: inherit;
  border:none;
  background-color: #fb9127;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.75);
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: small;
  box-shadow: 0 2px 6px rgba(0,0,0,0.50) ;
}

.button:hover,
.button:active {
  background-color: #60030f;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  font-size:small;
}

.button:hover .badge,
.button:active .badge {
  background-color: #92320c;
}

@media (max-width: 600px) {
  .button {
    width: 80%;
    padding: 0.75rem 1rem;
    font-size: 0.95rem;
  }

  .badge {
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .button {
    padding: 0.75rem 2.5rem;
    font-size: 1rem;
  }
}

