.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
  color: black;
}

.input input {
  width: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

@media (max-width: 600px) {
  .input {
    justify-content: space-between;
  }

  .input label {
    font-size: 0.9rem;
  }

  .input input {
    width: 4rem;
    padding: 0.45rem 0.5rem;
  }
}
@media (min-width: 768px) {
  .input {
    justify-content: flex-start;
  }

  .input input {
    width: 3.5rem;
  }
}